<div class="banner" style="background-image: url(<%= image_path 'ma-semaine-rocknroll.jpg'%>);">
  <div class="banner-content">
    <h1>Rock'n'rolla</h1>
    <p>Tune makers, Place owners & Party lovers</p>
    <a class="btn btn-primary btn-lg">J'en suis!</a>
  </div>
</div>
